.contact .rightSideContent{
    margin-top: 30px;
    padding: 20px 20px 60px;
    border-radius: 10px;

}

.contact .rightSideContent h3{
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 500;
    position: relative;
}



.contact .rightSideContent p{
    font-family: "Roboto";
    padding: 20px 0 10px;
    line-height: 30px;
}


form.contactForm{
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.inputBox{
    margin-bottom: 20px;
}

form.contactForm button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: gainsboro;
    border-radius: 30px;
    padding: 8px 50px;
    color: #302b2b;
    transition: 0.5s;
    gap: 5px;
    margin-top: 50px;
    font-size: 15px;
    font-family: "Roboto";
    transition: 0.5s;
    width: 100%;
}

form.contactForm button:hover {
    cursor: pointer;
    letter-spacing: 2px;
}